{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "camelcase": 1,
    "comma-dangle": [2, "never"],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-use-before-define": [2, "nofunc"],
    "arrow-body-style":[0, "as-needed"],
    "new-cap": [0],
    "import/no-unresolved": [0]
  },
  "globals": {
    "__DEV__": false,
    "__CONFIG__": false,
    "__REDUX_DEV__": false
  }
}
