.appTitle {
  margin: 1em 0;
  font-size: 2em;
}

.appIntro {
  margin-bottom: 1.67em;
  font-size: 1.2em;
  line-height: 1.5;
}

.sectionTitle {
  margin: 1em 0;
  font-size: 1.6em;
}

.mainFilter {
  margin: 1em 0 2em;
  padding: 2em 3em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #efefef;
}

.mainFilter p {
  margin-bottom: 2em;
  font-size: 1em;
  line-height: 1.5;
}

.chartContainer {
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chartTitle {
  margin-bottom: 1em;
  font-size: 1.4em;
}

.footnote {
  margin: 2em 0;
}

.footnote p {
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 1.5;
}

.footnote p:last-child {
  margin-bottom: 0;
}

.footnote .dataSources p {
  margin-bottom: 0;
}

.chartFootnote {
  composes: footnote;
  margin: 1em 0 0;
}
