.appTitle {
  margin: 1em 0;
  font-size: 2em;
}

.sectionTitle {
  margin: 1em 0;
  font-size: 1.6em;
}

.mainFilter {
  margin: 1em 0 2em;
  padding: 2em 3em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #efefef;
}

.chartContainer {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
