@import 'common';

.appTitle {
  margin: 1em 0 0.3em;
  font-size: 2em;
}

.appIntro {
  margin-bottom: 1em;
  font-size: 1.2em;
  line-height: 1.5;
}

.sectionTitle {
  margin: 1em 0;
  font-size: 1.6em;
}

.mainFilter {
  position: relative;
  margin: 1em 0;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #efefef;

  p {
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 1.5;
  }
}

.chartGrid {
  align-items: center;
}

.chartContainer {
  margin-bottom: 1em;
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
  max-width: 500px;

  @include medium-up {
    margin-right: 2em;
  }

  h2 {
    margin: 1em 0;
    font-size: 1.6em;
  }
}

.chartTitle {
  margin-bottom: 0.5em;
  font-size: 1.4em;
}

.footnote {
  margin: 2em 0;

  p {
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .dataSources p {
    margin-bottom: 0;
  }
}

.chartFootnote {
  composes: footnote;
  margin: 1em 0 0;
}

