.legend {
  margin: 0;
  padding: 0.5em;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  background: #fff;
  opacity: 1;
  list-style: none;
}

.info {
  composes: legend;
  opacity: 0.9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  pointer-events: none !important;
}

.infoBottomLeft {
  margin-bottom: 40px !important;
}

.infoBottomLeft button {
  font-size: 10px;
}

.legend li {
  margin: 0;
  padding: 0;
  text-align: right;
  white-space: nowrap;
}

.legend i {
  float: left;
  width: 18px;
  height: 17px;
  margin-right: 0.5em;
}

.spinner {
  composes: spinner from './spinner.css';
}
