.dataTable {
  width: auto;
  margin-bottom: 1em;
  background: #fff;
  font-size: 1.3em;
  border-collapse: collapse;
}

.dataTable caption {
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: bold;
}

.dataTable th,
.dataTable td {
  padding: 0.5em 1em;
  border: 1px solid #000;
}

.dataTable th {
  font-weight: bold;
}

.dataTable thead {
  background: #efefef;
}

.dataTable tbody th {
  text-align: left;
}

.dataTable tbody td {
  text-align: left;
}

.dataTable tbody td.right {
  text-align: right;
}

.linkContainer {
  margin: 0.5em 0;
  text-align: right;
}

.openTable {
  font-size: 0.8em;
}

.openTable:hover,
.openTable:active,
.openTable:focus {
  text-decoration: underline;
}

.closeTable {
  padding: 0.2em;
  border: 1px solid #666;
  background: #efefef;
  font-size: 1.2em;
}

.closeTable:hover,
.closeTable:active,
.closeTable:focus {
  background: #ccc;
}
