.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 320px;
  color: #1f77b4;
  font-size: 24px;
  z-index: 1000;

  p {
    margin-bottom: 1em;
  }
}

.spinner-short {
  @extend .spinner;
  min-height: 0;

  p {
    margin-bottom: 0;
  }
}
