@import 'common';

.container {
  display: flex;
  flex-direction: column;

  @include medium-up {
    flex-direction: row;
  }
}

.child {
  flex: 0 1 auto;
  width: 100%;

  @include medium-up {
    flex: 1 1 auto;
    width: 33%;
  }
}
