.row {
  *zoom: 1;
  display: block;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.grid {
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
}

.gridFull {
  composes: grid;
  width: 100%;
}

.gridHalf {
  composes: grid;
  width: 49%;
}

.gridThird {
  composes: grid;
  width: 32%;
}

.grid:last-child,
.gridHalf:nth-child(2n),
.gridThird:nth-child(3n) {
  margin-right: 0;
}
