.mapFilter {
  composes: mainFilter from './BaseLayout.css';
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: transparent;
}

.chartTitle {
  composes: chartTitle from './BaseLayout.css';
}

.chartFootnote {
  composes: chartFootnote from './BaseLayout.css';
}

.spinner {
  composes: spinner from './spinner.css';
}
