.mapFilter {
  composes: mainFilter from './BaseLayout.css';
  padding: 1em;
}

.chartTitle {
  composes: chartTitle from './BaseLayout.css';
}

.chartFootnote {
  composes: chartFootnote from './BaseLayout.css';
}

.spinner {
  composes: spinner from './spinner.css';
}
