.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 320px;
  color: #1f77b4;
  font-size: 24px;
  z-index: 1000;
}

.spinner p {
  margin-bottom: 1em;
}

.shortSpinner {
  composes: spinner;
  min-height: 0;
}

.shortSpinner p {
  margin-bottom: 0;
}

.spinnerOverlay {
  composes: spinner;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.shortSpinnerOverlay {
  composes: spinnerOverlay;
  min-height: 0;
}

.spinnerContainer {
  position: relative;
  min-height: 320px;
}

.compareCheckbox {
  display: inline-block;
  margin-bottom: 1em;
}

.compareCheckbox input {
  margin-right: 0.5em;
}

.compareCheckbox input:focus {
  box-shadow: 0 0 2px rgba(102, 175, 233, 0.9), 0 0 6px rgba(102, 175, 233, 0.6);
}
